$base: #F8EFE8;
$nav_base: #FFFFFF;
$base-font-color: #868686;
$base-fontsize: 16px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 640px;
$readable: #460202;

/*
@mixin btn() {
  width: 250px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#main-color;
}
  */
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
body{
  background-color: $base;
  font-size : $base-fontsize;
  color: $readable;

}

.h1-regular{
  @extend .megrim-regular;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

/*-header-*/
header{
  background-color: $nav_base;
  height: 80px;
  display: flex;
  align-items: center;

  .logo{
    width: 255px;
    height:auto;
    margin: 0 0 0 30px;
  }
}

.header--nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  nav ul {
    display: flex;
    justify-content: space-around;


    li{
      list-style-type: none;
      margin: 0 30px;

      a{
        @extend .megrim-regular;
        display: block;
        color: $base-font-color;
        font-size: $base-fontsize;
      }
    }
  }
}


/*-about-*/
.about{
  max-width: 1024px;
  margin: 230px auto 0;

  h1{
    @extend .megrim-regular;
    font-size: 40px;
    text-align: center;

    span{
      font-size: 20px;
    }
  }

  .about--description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 190px 0 0 0;

    img{
      width: 185px;
      height: auto;
    }
    p{
      padding: 0 0 0 60px;
      @extend .inter-regular;
      color:$readable;
    }
  }

}

// works
.works {
  margin: 250px auto 0;
  h1{
    @extend .h1-regular;
  }
  &--container{
    max-width: 1024px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fill , 200px);
    justify-content: space-around;
    gap: 3%;
    &--items{
      width: 200px;
      height: auto;
      margin: 0 10px 80px;

      img{
        width: 100%;
      }
    }

  }
}

// work-detail
.work-detail{
  display: flex;
  justify-content: space-around;
}
